*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.head-contant{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
#HeadFootage{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    #HeadFootage{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    #HeadFootage{
        width: auto;
        height: 100%;
    }
}

.head-contant h1{
    color: aliceblue;
    font-size: 150px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700; /* Bolder for headers */
    text-shadow: 0 0 30px #e0af65;
    position: relative;
    bottom: 20px;
}
.head-contant p{
    color: aliceblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 30px;
}
#headBtn{
    padding: 10px 25px;
    font-size: 20px;
    background-color: #ddcf39;
    color: rgb(42, 42, 42);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 40px 0px 20px 0px;
}
/* navber-------------- */
.navbar {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #f2f2f200;
    border: solid 2px #e0af65;
    border-radius: 30px;
    margin: 20px;
    position: relative;
    bottom: 150px;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin:0px 25px 0px 25px;
    transition: .5s;
  }

  .navbar a {
    text-decoration: none;
    color: rgb(229, 229, 229);
    font-size: 18px;
  }

  .logo{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 101;
    right:20px;
  }

  .navbar button {
    padding: 10px 20px;
    background-color: #ddcf39;
    color: rgb(42, 42, 42);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    left: 28px;
    transition-duration: .5s;
  }

  .navbar button:hover {
    background-color: #777;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 25px;
  }

  .hamburger div {
    width: 30px;
    height: 5px;
    background-color: #fffef0;
    border-radius: 5px;
  }

  /* Mobile and Tablet responsiveness */
  @media (max-width: 768px) {
    .head-contant h1{       
        font-size: 90px;
    }
    .head-contant p{
        font-size: 12px;
        letter-spacing: 10px;
    }
    .navbar {
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        background-color: #f2f2f200;
        border: solid 2px #e0af65;
        border-radius: 30px;
        margin: 20px;
        position: relative;
        top: 1px;
        bottom: 10px;
    }
    .navbar ul {
      display: none;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 100px;
      left: 40px;
      right: 40px;
      color: #000000;
      background-color: #0b0900;
      border:solid 2px rgb(211, 211, 50) ;
      border-radius: 10px;
      padding: 20px;
      padding-bottom: 70px;
      z-index: 10;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      transition-duration: 1s;
    }

    .navbar button{
        display:none;
        position: relative;
        top: 250px;
        left: -40px;
        z-index: 11;
        padding: 8px 20px;
        border-radius:10px;
        transition-duration:.3s ;
    }

    .navbar button.show{
        display: flex;
        transition:ease-in 1s;
    }
    
    .navbar ul.show {
      transition-duration: .5s;
      transition: ease-in;
      display: flex;
    }

    .hamburger {
      display: flex;
    }

    .navbar a {
      font-size: 20px;
    }
    @keyframes mymove {
      from {bottom: 10px;}
      to {bottom: 0px;}
    }
  }
